{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia 
{% endblock %}

{% block body %}
    
    <h1>Edit Entry</h1>

    <form action="{% url 'encyclopedia:saveedit' %}" method=POST id="entryform">
        {% csrf_token %}
        {{ error }}
        <p></p>
        Title: 
        {{ form.title }}
        <input type="submit" value="Save">
        <p></p>
        {{ form.content }}
    </form>

    <br>
    <!--<textarea rows="4" cols="50" name="content" form="entryform" placeholder="Enter Markdown and HTML for your new page here"></textarea>
    -->
{% endblock %}